@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 20px;
  text-align: right;

}

.nav a {
  text-decoration: none;
  color: #f1f5f9;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;

}

.nav a:hover {
  background: deepskyblue;
  color: #fff;
}
.nav h2{
  position: fixed;
  text-align: left;
  color: #f1f5f9;
  margin-left: 20px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #0f172a;
}

.container{
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

.login-box{
  text-align: left;
}

.login-box h1{
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group{
  margin-bottom: 10px;
}

.input-group label{
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

.input-group input:focus{
  outline: none;
  box-shadow: 0 0 2px 1px rgba(0, 123, 255, 0.2);
}

.login-box button{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: deepskyblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover{
  background-color: #00b4d8;
}

.login-box button:focus{
  outline: none;
  box-shadow: 0 0 2px 1px rgba(0, 123, 255, 0.2);
}

.login-box p{
  font-size: 14px;
  margin-top: 20px;
}

.login-box p a{
  color: #2791fc;
  text-decoration: none;
}

.login-box p a:hover{
  text-decoration: underline;
}